body{
    margin: 0;
    max-width: 600vh;
    max-height: 1200vh;
    background-color: grey;
}

.header{
    padding-left: 85px;
    background-color: black;
    padding-top: 65px;
    font-size: 45px;
}
a{
    padding-left: 60px;
    text-decoration: none;
    color:white;
    padding-right: 65px;
    color:rebeccapurple;
    
}

.logo{
    width: 300px;
    height: 60px;
    
}

.bTXT{
    padding-left: 65vh;
    color:brown;
}

.bpTXT {
    padding-left: 5vh;
    color:aqua;
    font-size: 32px;
}